/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Root styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */

/* Html and body styles */
body {
  font-family: "Acme";
}

/* Utility styles */
.container {
  max-width: 90%;
  margin: 0 auto;
}

/* Showcase styles */
/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 10px;
}

header > div > img {
  width: 60%;
}
