/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

/* Root styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */

/* Html and body styles */
body {
  font-family: "Kaushan Script", cursive;
}

/* Utility styles */
.container {
  max-width: 100%;
  margin: 0 auto;
}

.italic {
  font-style: italic;
  font-weight: lighter;
}

.btn {
  border: 2px solid lightpink;
  padding: 15px 30px;
  font-size: 20px;
  font-family: "Acme";
  display: inline-block;
  color: red;
  letter-spacing: 1px;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  transition: all 250ms ease-in-out;
  letter-spacing: 2.5px;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: lighter;
  font-family: "Acme";
}

.fas,
.far {
  padding: 15px;
}

.fab {
  margin: 10px 0;
  transition: transform 250ms ease-in-out;
  color: black;
}

.fab:hover {
  transform: translateX(15px);
}

/* Showcase styles */
.showcase {
  height: 100vh;
  position: relative;
  background: url("../images/background.png") no-repeat center/cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
  background-attachment: fixed;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  padding-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header > div > img {
  width: 60%;
}

/* Top Content styles */
.topContent {
  max-width: 400px;
}

.topContent h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.topContent p {
  margin-bottom: 20px;
}

/* About section styles */
.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.aboutImage {
  flex-basis: 60%;
  margin: auto;
}

.aboutImage img {
  display: block;
  width: 100%;
}

.aboutContent {
  flex-basis: 40%;
  margin: auto;
  padding: 15px;
  text-align: right;
  font-family: "Acme";
}

.aboutContent h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.aboutContent p {
  margin-bottom: 75px;
}

/* Features section */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: lightcyan;
  min-height: 300px;
  padding: 10px;
}

.feature {
  width: 300px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  margin: 20px;
}

.feature img {
  width: 40%;
  margin-bottom: 10px;
}

.feature h2 {
  font-size: 25px;
}

.feature p {
  font-weight: lighter;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

.feature h2,
.feature p {
  margin-bottom: 8px;
}

/* Courses styles */
.courses {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseContent {
  flex-basis: 45%;
  max-width: 550px;
  margin: auto;
  padding: 25px;
}

.courseContent h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.courseContent p {
  margin-bottom: 45px;
}

.courseImage {
  flex-basis: 55%;
}

.courseImage img {
  display: block;
  width: 100%;
}

/* Footer styles */
.footerMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background: lightpink;
  padding: 25px;
}

.footerUL {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Acme";
  font-size: 18px;
}

.footerUL li {
  list-style: none;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  line-height: 1.8;
}

.footerUL li:hover {
  color: white;
  text-transform: uppercase;
}

/* Social menu */
.socialMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
}

.socialMenu ul {
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialMenu ul li {
  list-style: none;
  margin-bottom: 5px;
}
