/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Root styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */

/* Html and body styles */
body {
  font-family: "Acme";
}
