@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* Utility styles */
:root {
  --primary-color: #3a4052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7;
  transition: transform 250ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Actual styles */
.showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("../cover.jpeg") no-repeat center
    center/cover;
  /* background-attachment: fixed; */
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* .video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 1;
  color: #fff;
}

/* About section */
#about {
  text-align: center;
  padding: 40px;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

#about h2 {
  font-size: 21px;
  margin-bottom: 10px;
}

.fab {
  margin: 0 5px;
  transition: transform 250ms ease-in-out;
}

.fab:hover {
  transform: scale(1.5);
}
