body {
  background-color: black;
}

.inner {
  width: 450px;
  padding: 10px;
  background: #00b6ff;
  color: black;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

span {
  float: right;
  color: white;
  font-weight: bold;
  transition: color 0.5s;
  position: relative;
  margin-right: 35px;
  margin-top: 20px;
}

.clip {
  clip-path: circle(9% at 90% 20%);
}

.clip:hover {
  clip-path: circle(75%);
  background-color: lightgreen;
}

.card1 {
  position: absolute;
}

.card2 {
  left: 6%;
}

.card3 {
  left: 11.5%;
}

.card {
  position: absolute;
}

.card:hover {
  z-index: 10;
}
