.height {
  height: 30px;
}

.container {
  background: #ffe4b5;
  max-width: 98vw;
  margin: auto;
  font-family: Amazon Ember;
}

.innerContainer {
  width: 10%;
  background: #ffa500;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
}

#input {
  width: 200px;
}
